*__pycache__*
**/fidle-datasets/**
*.ipynb_checkpoints*
*.vscode*
*.pb
*.orig
*.out
*.png
*variables.index
*checkpoint
*variables.data*
*.nc
*nohup*
*__test__*
*log.log
*.npy
*.csv
*.DS_Store
**/usr/**
**/Data_CESM/**
**/CESM/H2SOI/**
**/CESM/Hayashi/**
**/Climate/Data_Plasim/**
**/Climate/Data_Plasim_LONG/**
**/Climate/Plasim/**
**/Climate/Plasim_tas/**
**/Climate/Images/**
**/Climate_Data/**
**/CESM/Images/**
**/CESM/Postproc/**
**/CESM/Data_CESM_100yrs/**
**/CESM/models/**
**/CESM/regrid_models/**
**/CESM/Data_CESM/**
**/Climate/image/**
**/Climate/Image/**
**/Climate/movies/**
**/ERA/Images/**
**/ERA/Data_ERA5/**
**/ERA/ERA5/**
**/ERA/regridded_models/**
**/Gyro/**
**/PINNS/Utilities/IRK_weights/**
**/PLASIM/Images/**
*.ckpt.index
*.ckpt.data*
**/ERA/Postproc/**
**/ERA/Hayashi/**
**/PLASIM/training.old/**
**/PLASIM/training/**
**/PLASIM/Logistic/**
**/PLASIM/Postproc/**
**/PLASIM/Postproc.old/**
**/PLASIM/Postproc.old.old/**
**/VAE/VAE_weights/**
**/VAE/tests/**
**/VAE/tests.old/**
**/VAE/tests.old.old/**
**/VAE/Images/**
**/VAE/models/**
**/VAE/noxmodels/**
**/VAE/xforanalogsL2loss/**
**/VAE/xforanalogs/**
**/VAE/xmodels/**
**/gmiloshe/MachineLearning/**
**/PINNS/**
**/PLASIM/Images_Linear/**
**/PLASIM/Postproc.daily/**
**/CESM/image/**
**/Climate/archive/**
**/PLASIM/test_19_03/**
**/PLASIM/test_resampling/**
**/PLASIM/test_resampling2/**
**/PLASIM/test_resampling3/**
**/PLASIM/models/**
**/PLASIM/test_18_03/**
**/PLASIM/test2/**
**/PLASIM/test3/**
**/PLASIM/test/**
**/PLASIM/newtest/**
