*__pycache__*
**/fidle-datasets/**
*.ipynb_checkpoints*
*.vscode*
*.nc
*nohup*
*__test__*
*log.log
*.npy
*.csv
**/Data_CESM/**
**/CESM/H2SOI/**
**/CESM/Hayashi/**
**/Climate/Data_Plasim/**
**/Climate/Plasim/**
**/Climate/Plasim_tas/**
**/CESM/Images/**
**/CESM/Postproc/**
**/Climate/image/**
**/Climate/Image/**
**/Climate/movies/**
**/ERA/Images/**
**/Gyro/**
**/PINNS/Utilities/IRK_weights/**
**/PLASIM/Images/**
*.ckpt.index
*.ckpt.data*
**/ERA/Postproc/**
**/PLASIM/Logistic/**
**/PLASIM/Postproc/**
**/PLASIM/Postproc.old/**
**/PLASIM/Postproc.old.old/**
