*__pycache__*
**/fidle-datasets/**
*.ipynb_checkpoints*
*.vscode*
*.pb
*variables.index
*checkpoint
*variables.data*
*.nc
*nohup*
*__test__*
*log.log
*.npy
*.csv
**/Data_CESM/**
**/CESM/H2SOI/**
**/CESM/Hayashi/**
**/Climate/Data_Plasim/**
**/Climate/Plasim/**
**/Climate/Plasim_tas/**
**/CESM/Images/**
**/CESM/Postproc/**
**/CESM/Data_CESM/**
**/Climate/image/**
**/Climate/Image/**
**/Climate/movies/**
**/ERA/Images/**
**/Gyro/**
**/PINNS/Utilities/IRK_weights/**
**/PLASIM/Images/**
*.ckpt.index
*.ckpt.data*
**/ERA/Postproc/**
**/PLASIM/training.old/**
**/PLASIM/training/**
**/PLASIM/Logistic/**
**/PLASIM/Postproc/**
**/PLASIM/Postproc.old/**
**/PLASIM/Postproc.old.old/**
**/VAE/VAE_weights/**
**/VAE/tests/**
**/VAE/tests.old/**
**/VAE/tests.old.old/**
**/VAE/Images/**
**/VAE/models/**